/* Website Colour Palette */
:root {
    --pink: #fb6486;
    --grey: #302d2e;
    --white: #ffffff;
}

/*Background Options */
.main-background {
    background-color: var(--pink);
}

.section-background {
    background-color: var(--white);
}

.grey-background {
    background-color: var(--grey);
}

/*Font color options */
.pink-font {
    color: var(--pink)
}
/*Button Options */
.nav-button-background {
    background-color: var(--grey);
}

.footer-links:hover {
    color: var(--grey);
}