/* Website Colour Palette */
:root {
    --pink: #fb6486;
    --grey: #302d2e;
    --white: #ffffff;
}

.main-background {
    background-color: var(--pink);
}

.section-background {
    background-color: var(--white);
}

.nav-button-background {
    background-color: var(--grey);
}

.footer-links:hover {
    color: var(--grey);
}